@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');/*font-family: 'Ubuntu', sans-serif;*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutlabel{
    background-image: url('mainwall2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:50vh;
    width:100vw;
    color:white;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}
.aboutlabel1{
  
    height:50vh;
    width:100vw;
    color:black;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;}

    .tableabout{
  
        height:20vh;
        width:100vw;
        color:black;
        font-size: 1.5rem;
        font-family: 'Ubuntu', sans-serif;
    }
}
.aboutlabelsub1
{
    height:10vh;
    width:30vw;
}

.rohabslogoabout
{
    height:40vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
   
}

.rohabslogoabout1
{
    height:50vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
   
}
.rohabslogoaboutsub1
{
    width:20vw;
    height:40vh;
    display: flex;
    align-items: center;
}
.rohabslogoaboutsub11
{
    width:20vw;
    height:40vh;
    display: flex;
    align-items: center;
}
.rohabslogoaboutsub2
{
    width:80vw;
    height:40vh;
    display: flex;
    align-items: center;
}
.rohabslogoaboutsub21
{
    width:80vw;
    height:40vh;
    display: flex;
    align-items: center;
}
.rohabstext
{
  
    
   
}

.rohabslogoabout img
{
    height:17rem;
    

}

.rohabslogoabout img:hover
{
    transform: scale(1.1); 

}
.rohabslogoabout1 img
{
    height:17rem;
    

}

.rohabslogoabout1 img:hover
{
    transform: scale(1.1); 

}

.tableabout table
{
   background-color: white;
   width: 10%;
   display: flex;
   justify-content: center;

}
th {
    height: 50px;
  }
  th {
    text-align: left;
  }
  td {
    height: 50px;
    vertical-align: bottom;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color: #f5f5f5;}
  tr:nth-child(even) {background-color: #f2f2f2;}

  th {
    background-color: #4CAF50;
    color: white;
  }.multilayer
  {
      height: 20vh;
      background-image: url('rohabslogo.png'), url('mainwall3.jpg');
      background-position: right bottom, left top;
      background-repeat: no-repeat, repeat;

  }
/*
.wrapabout
{
   display:flex;
   flex-wrap: wrap;
}

.logoaboutpage
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30vh;

    align-items: center;
    
}






.rohanphotoaboutpage
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rohanphotoabout img
{
    margin-top: 6rem;
    height:20rem;
    margin-left: 6em;
}

.rohanphotoabout img:hover
{
    transform: scale(1.3);
}

.aboutrohan
{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 13rem;
    width: 70rem;
    padding-left: 2rem;
    font-size: larger;
}

.tableabout table
{
   background-color: white;
   width: 10%;
   display: flex;
   justify-content: center;

}
th {
    height: 50px;
  }
  th {
    text-align: left;
  }
  td {
    height: 50px;
    vertical-align: bottom;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color: #f5f5f5;}
  tr:nth-child(even) {background-color: #f2f2f2;}

  th {
    background-color: #4CAF50;
    color: white;
  }
*/